/*
 * 主页样式表
 * 
 */

/*以下是主页头部追加样式*/
.header .nav .choose{
	color: rgb(255,80,115);
}


/*以下是轮播图模块样式********************************************************/
.header_CarouselFigure{
	position: relative;
	width: 100%;
	height: 480px;
	/*background: url(../img/HomePage-img/20169289513210.1-10.7今日特价2.jpg);
	background-position: -330px 0;
	background-size: cover;*/
}



/*以下是轮播图框架样式*/
.header_CarouselFigure #lunboBox{
	width: 100%;
	height: 480px;
	position: relative;
	overflow: hidden;
}
#lunboBox #list{
	width: 100000px;
	height: 480px;
	position: absolute;
	top: 0;
	left: 0;
}
#lunboBox #list li{
	position: relative;
	width: 1480px;
	height: 480px;
	overflow: hidden;
}
#lunboBox #list img {
	position: absolute;
	left: -350px;
	/*因为图片长度超出屏幕宽度,作此调整,图片与li本该一样长*/
	width: 1960px;
	height: 480px;
}
#lunboBox #list li{
	float: left;
}
#lunboBox #list2 {
	width: 250px;
	height: 18px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	bottom: 10px;
}
#lunboBox #list2 li {
	width: 18px;
	height: 18px;
	border: 0px solid white;
	border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-o-border-radius: 9px;
	background: white;
	text-align: center;
	line-height: 18px;
	cursor: pointer;
	float: left;
	margin-left: 15px;
}
#list2 li .active{
	background: rgb(255,80,115);
}




/*以下是左边竖排nav样式*/
.header_CarouselFigure .leftnav ul{
	position: absolute;
	z-index: 99;
	width: 160px;
	height: 480px;
	top: 0;
	left: 4%;
	background: rgba(25,25,25,0.55);
}
.header_CarouselFigure .leftnav ul>li{
	width: 124px;
	height: 50px;
	padding-left: 36px;
	line-height: 50px;
	cursor: pointer;
	background: rgba(25,25,25,0);
}
.header_CarouselFigure .leftnav ul li a{
	color: white;
	font-size: 2.25em;
}
/*以下是隐藏的ul li特殊样式*/
.header_CarouselFigure .leftnav .hideNav{
	position: absolute;
	z-index: 999;
	background: white;
	top: 0;
	left: 4%;
	margin-left: 152px;
	/*box-shadow: 3px 3px 0px 3px rgba(100,100,100,0.05);*/
	box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
	display: none;
}
.header_CarouselFigure .leftnav .hideNav a{
	color: #666;
}




/*以下是主页中部主体样式*/
.mainContainer{
	width: 92%;
	margin: 0 auto;
}
.mainContainer .banner img{
	margin-bottom: 10px;
	width: 100%;
}
.mainContainer .banner h2{
	font-size: 22px;
	text-align: center;
	font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei"," 微软雅黑","华文细黑", sans-serif;
	font-weight: 400;
	margin: 10px 0;
}
.mainContainer .banner .lasth{
	margin-top: 0;
}

/*以下是中部主体商品列表的样式*/
.goodsListBox{
	width: 100%;
	overflow: hidden;
}
.goodsListBox>div{
	width: 100%;
	overflow: hidden;
	margin-left: 4%;
}
.goodsListBox>div>img{
	width: 92%;
	margin: 0 auto;
	margin-bottom: 10px;
}
.goodsListBox>div>ul{
	width: 100%;
	clear: both;
}
.goodsListBox>div>ul>li{
	position: relative;
	float: left;
	width: 350px;
	height: 450px;
	margin: 5px 40px 40px 5px;
}
.goodsListBox>div>ul>li:hover{
	box-shadow: 0 0 8px -1px #666;
	-webkit-box-shadow:  0 0 8px -1px #666;
	-moz-box-shadow:  0 0 8px -1px #666;
	-o-box-shadow:  0 0 8px -1px #666;
}
.goodsListBox>div>ul>li>a{
    padding: 40px 40px 0 40px;
    float: none;
    display: block;
    color: #5C5C5C;
    font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", "微软雅黑";
}
.goodsListBox>div>ul>li>a>span{
	position: absolute;
    left: 25px;
    top: 25px;
    display: block;
    width: 42px;
    height: 42px;
}
.goodsListBox>div>ul>li>a>img{
	width: 270px;
	height: 270px;
	background-size: cover;
}
.goodsh4{
	position: absolute;
	margin: 0;
	padding: 0;
	top: 320px;
	font-size: 14px;
	font-weight: 400;
}
.goodsh3{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 340px;
	font-size: 18px;
	font-weight: 400;
}

/*以上为商品图片类信息*/
/*以下为商品价格类信息*/
.goodsListBox .goodsPrice{
	position: absolute;
	height: 60px;
	width: 330px;
	bottom: 0;
    background-color: #fff5f9;
    padding: 0 0 0 20px;
}
.goodsListBox .goodsPrice button{
	width: 124px;
    height: 100%;
    line-height: 124px;
    background-color: rgb(253, 73, 172);
    color: rgb(255, 255, 255);
    position: absolute;
    right: 0px;
    font: 20px Tahoma, Helvetica, Arial, "Microsoft Yahei", '微软雅黑';
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none;
}
.newPrice{
	position: absolute;
	top: 0;
	left: 20px;
	font-size: 24px;
    color: #ff7e00!important;
    line-height: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.oldPrice{
	position: absolute;
	top: 10px;
	left: 115px;
	text-decoration: line-through;
    font-size: 16px;
    color: #beb7ba!important;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    /*display: none;*/
}
.mmPrice{
	position: absolute;
	top: 5px;
	left: 115px;
	font-size: 14px;
    color: rgb(49,206,181);
    display: block;
    margin-top: 5px;
    font-weight: bold;
    /*display: none;*/
    /*旧价格或者美美箱优惠价2选一展示,当折扣为0时,展示优惠价*/
}
.df{
	position: absolute;
	top: 30px;
	left: 115px;
    margin-top: 0;
    color: #fd81c1!important;
    font-size: 12px;
}
